#wall .tag-1 {
  display: none;
  z-index: 7;
}

#wall #tag-2 {
  display: block;
}

div#wall #tag-3.slick {
  display: block;
}

#tag-4 {
  display: block;
}

#tag-5 {
  display: block;
}

#tag-6 {
  display: none;
}

#tag-7 {
  display: none;
}
